.grid-container {
    display: grid;
    grid-template-areas:
    'header header header header'
    'main main main main'
    'footer footer footer footer';
    grid-row-gap: 10px;
}

.App-header {
    grid-area: header;
    background-color: #000000;
    text-align: left;
    font-size: 12px;
}

.App-main {
    grid-area: main;
    background-color: #FFFFFF;
    text-align: center;
    font-size: 36px;
}

.App-footer {
    grid-area: footer;
    text-align: center;
    font-size: 12px;
}
