.navbar {
    height: 50px;
    background-color: #000000;
    overflow: hidden;
}

.navbar a {
    color: grey;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
    text-align: center;
    font-size: 19px;
}

.navbar a:hover {
    color: white;
    text-decoration: none
}

.navbar-right {
    float: right;
}

.main {
    background-color: #FFFFFF;
    text-align: left;
    font-size: 36px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 12px;
}

hr.solid {
    border-top: 1px solid #bbb;
    text-align: left;
    margin-left:0;
    width: 30%;
}
