/* Navigation bar */
.navbar {
  display: grid;
  grid-template-columns: 120px auto auto;
  grid-auto-rows: 55px;
  background-color: #000000;
  align-items: center;
}

.navbar a {
  color: grey;
  text-decoration: none;
  font-size: 19px;
  padding: 5px;
}

.navbar a:hover {
  color: white;
  text-decoration: none;
}

.navbar-right {
  text-align: right;
}

.navbar-left {
  text-align: left;
}

/* Footer */
.footer {
  display: grid;
  grid-template-columns: 100%;
  text-align: center;
  font-size: 12px;
}

/* Login page */
.login-grid-container {
  display: grid;
  justify-items: center;
  align-items: center;
}

.login-input-container {
  display: grid;
  width: 300px;
  border: 1px solid;
  border-radius: 5px;
  padding: 10px;
  margin: 100px 0 100px 0;
}

.login-input-container input {
  display: grid;
  height: 40px;
  margin-top: 8px;
}

.login-input-container input#submit {
  background-color: #2eb82e;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.login-input-container input#submit:hover {
  opacity: 0.8;
}

.login-bottom-msg {
  padding-top: 8px;
  font-size: 14px;
}

/* Main page. Content */
.page-content {
  display: grid;
  grid-template-columns: 100%;
}

.page-title {
  margin-left: 15px;
  text-align: left;
}

.page-actions {
  text-align: center;
  margin: 10px;
}

.page-actions a {
  padding: 10px;
  color: black;
  border: 2px solid black;
}

.page-table {
  margin: 15px 15px 30px 15px;
}

/* Table: Inbox, Outbox, Contacts */
table {
  font-family: arial;
  font-size: 17px;
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

tr {
  border: none;
  border-bottom: 1px solid #0099ff;
}

tr#canceled {
  background-color: #ffe6e6;
}

th, td {
  padding: 8px;
}

.long-col-tbl {
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

th > button {
  border: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
}

/* Contacts page */
.contact-item button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 17px;
}

/* Sort icon */
.sort-icon_ {
  display: inline;
  font-size: 14px;
  color: grey;
}

.sort-icon_asc {
  display: inline;
  font-size: 14px;
  color: grey;
}

.sort-icon_desc {
  display: inline;
  font-size: 14px;
  color: grey;
}

.sort-icon_asc span#arrow-up {
  color: black;
}

.sort-icon_desc span#arrow-down {
  color: black;
}

/* New contact page */
.add-contact-grid-container {
  display: grid;
  justify-items: center;
  align-items: center;
}

.contact-input {
  border: 1px solid;
  border-radius: 10px;
  padding: 10px;
  margin: 100px 0 100px 0;
}
.contact-input input {
  display: grid;
  width: 300px;
  height: 30px;
}

.contact-input {
  display: grid;
}

.contact-input button {
  margin-top: 8px;
  height: 40px;
  background-color: #2eb82e;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

.contact-input button:disabled {
  background-color: #e6e6e6;
  cursor: default;
}

.contact-input button:hover:enabled {
  background-color: #00b300;
}

/* New record page */
.add-record-grid-container {
  display: grid;
  justify-items: center;
  align-items: center;
}

.add-container {
  border: 1px solid;
  border-radius: 10px;
  padding: 10px;
  margin: 100px 0 100px 0;
}

.add-input-container input {
  display: grid;
  width: 300px;
  height: 30px;
}

.add-file-container input#upload {
  margin-top: 8px;
  width: 300px;
}

.add-btn-container {
  display: grid;
}
.add-btn-container button {
  margin-top: 8px;
  height: 40px;
  background-color: #2eb82e;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

.add-btn-container button:disabled {
  background-color: #e6e6e6;
  cursor: default;
}

.add-btn-container button:hover:enabled {
  background-color: #00b300;
}

/* Autocomplete menu */
.options {
  position: absolute;
  width: 300px;
  background-color: white;
  border: 1px solid;
  list-style-type: none;
  overflow: auto;
  max-height: 200px;
  margin: auto;
  padding: 3px;
  z-index: 1;
}

.active-item,
.options li:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.options li:not(:last-of-type) {
  border-bottom: 1px solid grey;
}

/* Record card page */
.record-card-grid-container {
  display: grid;
  justify-items: center;
  align-items: center;
}

.record-card {
  padding: 15px;
  background-color: #ffe6b3;
  border-radius: 6px;
  box-shadow: 4px 3px 8px 1px;
  margin: 100px 0 100px 0;
} 

.record-card h2 {
  color: #0066cc;
}

.record-card p {
  font-family: arial;
}

.record-header {
  text-align: center;
}
.record-fields {
  text-align: left;
}

.record-status-button {
  display: grid;
  margin: auto;
}

.record-status-button button {
  padding: 7px;
  border: 1px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 6px;
}

.record-status-button button#active {
  background-color: #ff4d4d;
}

.record-status-button button#canceled {
  background-color: #33cc33;
}

.record-break-line {
  width: 300px;
  overflow-wrap: break-word;
}

.record-hidden-line {
  width: 300px;
  text-align: center;
  overflow: hidden;
}

.record-attr {
  padding: 5px;
}

.record-attachment {
  border: 3px solid;
  border-style: double;
  border-color: grey;
  display: grid;
  justify-items: center;
  padding: 3px;
  margin-bottom: 5px;
}

/* Edit record page */
.edit-grid-container {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-row-gap: 50px;
}

.edit-container {
  border: 1px solid;
  border-radius: 10px;
  padding: 10px;
  margin: 100px 0 100px 0;
}

.edit-input-container input {
  display: grid;
  width: 300px;
  height: 30px;
}

.edit-file-container input#del {
  margin-top: 8px;
  margin-left: 15px;
}

.edit-file-container input#upload {
  margin-top: 8px;
  width: 300px;
}

.update-btn-container {
  display: grid;
}

.update-btn-container button {
  margin-top: 8px;
  height: 40px;
  background-color: #2eb82e;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

.update-btn-container button:hover {
  background-color: #00b300;
}

/* 404 error page */
.error404-grid-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  justify-items: center;
  align-items: center;
  font-family: arial;
  margin: 40px;
}

.error404-main-title {
  font-size: 26px;
}

.error404-bg-code {
  font-size: 10vh;
}

.error404-description {
  font-size: 14px;
}

.error404-home-link {
  margin: 10px;
}

.error404-home-link a {
  padding: 10px;
  color: black;
  border: 2px solid black;
}

/* User profile page */
.user-profile-grid-container {
  display: grid;
  margin: 10px;
  justify-items: center;
  align-items: center;
}

.user-profile-container {
  display: grid;
  grid-template-columns: 200px 500px;
  grid-row-gap: 8px;
  grid-column-gap: 30px;
  margin: 8px;
}

.user-profile-title {
  grid-column: 1 / span 2;
  padding: 8px;
}

.user-profile-title h2 {
  margin: 0;
}
.user-profile-title p {
  margin: 0;
  color: #0066ff;
}
.user-profile-navbar {
  font-size: 22px;
}

.user-profile-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.user-profile-navbar a {
  display: grid;
  border-radius: 4px;
  text-decoration: none;
  color: grey;
  padding: 8px;
}

.user-profile-navbar a#active {
  background-color: #000000;
  color: white;
}

.user-profile-navbar a:hover:not(#active) {
  background-color: #94b8b8;
  color: white;
}

.user-info-grid-container {
  display: grid;
  width: 300px;
}

.user-info-title-container {
  border-bottom: 1px solid grey;
}

.user-info-title-container h2 {
  margin: 0;
}

.user-info-input-container {
  display: grid;
  padding-top: 8px;
}

.user-info-input-container input {
  height: 30px;
}

.user-info-input-container input:focus {
  outline: none;
}

.user-info-pass-container {
  display: grid;
  grid-template-columns: 90% auto;
  border: 1px solid;
  padding: 4px;
}

.user-info-input-container input#pass {
  border: none;
  margin: 0;
  padding: 0;
}

.user-info-input-container button#pass {
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 17px;
}

.user-info-update-btn-container {
  display: grid;
}

.user-info-update-btn-container button, input#submit {
  margin-top: 8px;
  height: 40px;
  background-color: #2eb82e;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

.user-info-update-btn-container button:enabled, input#submit:enabled {
  background-color: #00b300;
}

.user-info-update-btn-container button:disabled, input#submit:disabled {
  background-color: #e6e6e6;
  cursor: default;
}

/* Flash Message */
.flash-msg-grid-container {
  display: grid;
  justify-items: center;
}

.flash-msg-container {
  padding: 10px;
  border: 2px #4d4d4d;
  border-radius: 6px;
  width: 70%;
  background-color: #ff4d4d;
  margin: 10px;
  text-align: center;
}

.flash-msg-btn button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  float: right;
}
